@import url('https://fonts.googleapis.com/css?family=Lobster|EB+Garamond');

.App {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: flex-start;
  font-family: 'EB Garamond',sans-serif;
  width:100vw;
  height:100vh;
}


.contact-container{
  text-align: center;
  width:100%;

}

.contact-details{

}

.full-name{
  width:100%;
  font-size:1.5em;
}

.contact-info{
  width:100%;
  display:flex;
  justify-content: center;
  align-content: center;
  font-size:1em;
}

.education-container{
  width:100%;
  padding:1em;
}

.title{
  height:1.5em;
  text-align:left;
  text-decoration: underline;

}

.formGroup{
  display:flex;
  flex-wrap: wrap;
}

label{
  width:100%;
}

input{
  width:100%;
  height:2em;
}

.date-range{
  width:100%;
}

.label-from-date,.from-date{
  float:left;
  width:48%;
}

.label-to-date,.to-date{
  float:right;
  width:48%;
}

.education,.work-experience{
  display:flex;
  flex-wrap:wrap;
}
.row{
  width:100%;
}
.display-university,.company{
  float:left;
  background-color: yellow;
}
.display-university-date-range,.display-company-date-range{
  float:right;
}

.display-degree{
  float:left;
  background-color: red;
}

textarea{
  width:100%;
  height:5em;
  font-family: 'EB Garamond',sans-serif;
}

.work-experience-container{
  width:100%;
  padding:1em;

}

.work-description{
  float:left;
}

.skills-container{
  width:100%;
  padding:1em;
}

.add-education,.add-work-experience,.add-skills{
  padding:0.75em;
}

.submit,.cancel{
  padding:0.75em;
}
